<header>
     <div class="logo">
        <h3>Plastic Free World</h3>
    </div>

    
    
    <nav>
        <span>Hi, {{first}} </span> |
        {{!-- <a href="/petition">Sign the petition</a> | --}}
        <a href="/thankyou">Your signature</a> |
        <a href="/signers">See all signers</a> |
        <a href="/profiles/edit">Edit your profile</a> |
        <a id="logout-button" href="/logout">Log out</a>
    </nav>
</header>